
<form [formGroup]="proService.forma" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="600px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="$id">
                <mat-form-field>
                    <input formControlName="titulo" matInput placeholder="titulo">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="marca" matInput placeholder="marca">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="precio" matInput placeholder="precio">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="pvp" matInput placeholder="PVP">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="categoria" matInput placeholder="categoria">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="caracteristicas" matInput placeholder="caracteristicas">
                </mat-form-field>
                <div class="d-flex flex-fill flex-column bd-highlight mb-3">
                  <label class="col-form-label">Imagenes</label>
                    <!-- <div *ngFor="let imagen of imagenes" class="form-group row"> -->
                      <div class="d-flex flex-column col-8" formArrayName="imagenes">
                        <div class="d-flex" *ngFor="let imagen of imagens.controls; let i =index">
                          <input   
                          [formControlName]="i"
                          class="form-control"
                          type="text"
                          placeholder="imagenes"
                          /> 
                          <button class="btn btn-danger ml-2" (click)="borrarImagen(i)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                        <div class="d-flex flex-column">
                          <button
                          (click)="agregarImagen()"
                          type="button"
                          class="btn btn-primary mt-1"
                          >
                          Agregar imagen
                        </button>
                      </div>
                    <div class="row d-flex mt-5">
                      <div class="row d-flex mr-2" *ngFor="let imagen of imagenes">
                        <div class="d-flex flex-column ml-5">
                          <img
                          [src]="imagen"
                          class="form-group row"
                          alt="..."
                          width="100"
                          height="100"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="controles-container">
                <div class="add-botton-padding">
                        <mat-radio-group formControlName="origen" multiple>
                            <mat-radio-button value="1">Ebay</mat-radio-button>
                            <mat-radio-button value="2">Amazon</mat-radio-button>
                            <mat-radio-button value="3">Aliexpress</mat-radio-button>
                        </mat-radio-group>
                </div>
                <mat-form-field class="add-bottom-padding">
                    <input formControlName="fecha" matInput [matDatepicker]="picker" placeholder="Fecha">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> 
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="proService.forma.invalid">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>    
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>